body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
}

#logo{
    width: 200px;
    height: auto;
}

.liens{
    margin: 16px;
    align-items: center;
    justify-items: center;
}

.lien{
    margin: 15px;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.lien.active{
    color: #630808;
}

header{
    padding-top: 60px;
    padding-left: 40px;
    background-image:  
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/header_background.png);
    height: 500px;
    background-size: cover;
    background-position: center;
    color: white;
}

.titre{
    font-size: 112px;
    margin: 0;
    padding: 0;
}

button{
    color: white;
    background-color: #630808;
    border: solid;
    border-radius: 39px;
    border-color: #630808;
}

.commander{
    height: 50px;
    width: auto;
    text-transform: uppercase;
    font-weight: bold;
}

.text-description{
    font-size: 18px;
    
}

main{
    text-align: center;
}

.titre-section-carte{
    font-size: 80px;
    color: #630808;
    padding: 0;
    margin: 0;
    font-family: 'Carattere', cursive;
}

.sous-titre-section-carte{
    font-size: 28px;
    padding: 0;
    margin: 0;
}

.plats{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.plat{
    border: solid 2px black;
    border-radius: 52px;
    padding: 24px;
    margin: 120px;
}

.plat-description{
    width: 120px;
    text-align: center;
    font-size: 10px;
    line-height: 1em;
    margin: 0;
    padding: 0;
    justify-items: center;
    justify-content: center;
    display: inline-block;
}

.plat-titre{
    font-family: 'Carattere', cursive;
    font-size: 24px;
}

#plat-image-1,#plat-image-2,#plat-image-3{
    width: 180px;
    height: auto;
}

.ajouter-panier-btn{
    margin: 15px;
    padding: 7px;
    font-size: 13px;
    font-weight: bold;

}

.badge{
    background-color: #630808;
    color: white;
    border-radius: 100%;
    position: relative;
    left: 80%;
    bottom: 5%;
    width: 82px;
    height: 82px;
    padding: 5px;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    
    
}

.devise{
    padding-top: 15px;
    padding-right: 10px;
    font-size: 10px;
    text-align: end;
}

.badge>span{
    display: block;
    align-self: center;
    font-weight: bold;
    
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #630808;
    color: white;
    padding: 30px;
}

#logo-pied-de-page{
    width: 130px;
    height: auto;
}

#instagram,#whatsapp{
    width: 30px;
    height: auto;

}

.formulaire{
    display: flex;
    flex-direction: column;
}

#nom-prenom,#message{
    display: block;
    background-color: #630808;
    border: white solid 2px;
    border-radius: 30px;
    color: white;
    margin-top: 5px;
    padding: 10px;
}

#message{
    border-radius: 39px;
    padding-top: 15px;
}

::placeholder{
    color: white;
    font-family: 'Poppins';
}

#submit-btn{
    background-color: white;
    font-weight: bold;
    border-radius: 39px;
    border: solid white;
    color: #630808;
    padding: 5px;
    
    margin: 15px;
}

.social{
    padding-top: 100px;
}